* {
    margin: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #edeaaf;
    min-height: calc(100vh - 60px);
    position: relative;
    padding-bottom: 60px;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #b83030ea;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}


main {
    margin: 0 50px;
}

@media (max-width:768px) {
    main {
        margin: 0 5px;
    }

    .boxpizzas .box img {
        width: 200px;
    }

    .boxpizzas .box p {
        font-size: 1rem;
    }
}

footer {
    background-color: #761a1af0;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

nav {
    margin: 20px 0 10px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F7D1;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 130px;
    height: 30px;
    padding: 10px;
    margin: 0 10px;
    border-radius: 15px;
}

nav a span {
    color: #b42b2b;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 350px;
    height: 280px;
}


.especialidad {
    background-color: #b42b2b;
    margin: 30px 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.box {
    background-color: #b83030ea;
    height: 200px;
    display: flex;
    align-items: center;    
}

.box img {
    width: 300px;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.box p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

form {
    background: #b42b2b;
    display: flex;
    flex-direction: column;
    width: 500px;
}

form input {
    margin-bottom: 20px;
}

form button {
    color: #000000;
}


.contenedorcontactenos {
    display: flex;
    align-items: center;
    margin-top:10px;

}

.titulocontacto {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;

}

.parrafocontacto {
    color: #000000;
    font-size: 2vw;
}

.imgcontact { 
    width: 200px;
    height: inherit;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
}

.contmenu{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.titulomenu{
    color: #000000;
    font-size: xx-large;
}
.listamenu p {
    color: #000000;
    font-size: 18px;
}

.titulopizzas {
    color: #000000;
    font-size: x-large;
    margin-bottom: 10px;
}

.listaprecios p{
    color:#000000;
    font-size: 18px;
}

.contenedormenuprecio {
    display: flex;

}